<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VisitorController</servlet-name>
        <servlet-class>Controller.VisitorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantController</servlet-name>
        <servlet-class>Controller.RestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectingController</servlet-name>
        <servlet-class>Controller.RedirectingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>Controller.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerHomeController</servlet-name>
        <servlet-class>Controller.CustomerHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>Controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InquiryServlet</servlet-name>
        <servlet-class>Controller.InquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurantController</servlet-name>
        <servlet-class>Controller.AddRestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFoodToMenuController</servlet-name>
        <servlet-class>Controller.AddFoodToMenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>Controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantLogin</servlet-name>
        <servlet-class>Controller.RestaurantLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitorController</servlet-name>
        <url-pattern>/VisitorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantController</servlet-name>
        <url-pattern>/RestaurantController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectingController</servlet-name>
        <url-pattern>/RedirectingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/AdminHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerHomeController</servlet-name>
        <url-pattern>/CustomerHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InquiryServlet</servlet-name>
        <url-pattern>/InquiryServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <!-- mandatory -->
        <filter-class>Controller.ProxyFilter</filter-class>
        <!-- mandatory -->
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/InquiryServlet</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurantController</servlet-name>
        <url-pattern>/AddRestaurantController</url-pattern>
    </servlet-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/AddRestaurantController</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>AddFoodToMenuController</servlet-name>
        <url-pattern>/AddFoodToMenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantLogin</servlet-name>
        <url-pattern>/RestaurantLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.html</location>
    </error-page>
</web-app>
