/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 25, 2021, 3:43:20 PM
    Author     : Sachindra Rodrigo
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
    transition: 0.1s ease;
}

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    
}

a {
    text-decoration: none;
}
.centerHeader{
    text-align: center;
    margin-top: 10px;
}
h3{
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
}

.container-shadow {
    position: absolute;
    width: 525px;
    height: 355px;
    left: 50%;
    margin-left: -262.5px;
    margin-top: 150px;
    box-shadow: 0px 30px 50px -20px #000;
}

.container {
    position: absolute;
    width: 525px;
    height: 1150px;
    left: 50%;
    margin-left: -262.5px;
    margin-top: 80px;
    background-color: white;
    box-shadow: 0px 0px 50px -20px #000;
}
/*img{
    height: 200px;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profile-pic-div{
    height: 200px;
    width: 350px;
    position: absolute;
    top: 50;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    bottom: 830px;
}

#previewPhoto{
    height: 100%;
    width: 100%; 
}

#file{
    display: none;
    
}
#uploadBtn{
    height: 60px;
    width: 450px;
    position: absolute;
    bottom: 0;
    left: 35%;
    transform: translatex(-50%);
    text-align: center;
    background: rgba(0,0,0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    
}


label {
    color: black;;
    text-transform: uppercase;
    padding: 13px 20px;
    margin-left: 50px;
    position: relative;
    display: block;
    font-size: 14px;
}

input {
    width: 70%;
    color: black;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: transparent;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #1d2124;
    outline: none;
    box-sizing: border-box;
    margin-left: 70px;
    margin-bottom: 10px;
}

input:active,
input:focus {
    border-bottom: 0.12em solid #aaf0d1;
    border-color: lime;
    box-shadow: 0 5px 5px -5px #aaf0d1;
}

/*#password {
    padding-right: 50px;
}

#password + i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    float: right;
    position: relative;
    top: -43px;
    right: 15px;
    cursor: pointer;
}

#password + i:hover {
    color: rgba(255, 255, 255, 1);
}*/
/*
input[type="checkbox"] {
    width: 20px;
    padding: 0;
    margin: 20px 5px 30px 20px;
}

input[type="checkbox"] + span {
    color: #fff;
}*/

/*#rlabel {
    display: inline-block;
    padding: 0;
    top: 1px;
}

#remember:hover,
#rlabel:hover {
    cursor: pointer;
}*/

.button {
    width: 70%;
    background: limegreen;
    color: #2c353e;
    text-transform: uppercase;
    margin-top: 1.3em;
    
    padding: 12px;
    cursor: pointer;
    border: 2px solid transparent;
}

.button:hover {
    background: limegreen;
    box-shadow: 0 0 10px #aaf0d1, 0 0 30px #aaf0d1, 0 0 50px #aaf0d1;
}

#sign-up-form input[type="submit"] {
    margin-top: 50px;
}

#log{
    margin-left: 150px;
    margin-top: 20px;
    color: white;
}
#login{
    text-decoration: none;
    color: #aaf0d1 ;
}

/*
footer .fp a {
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

footer .hr {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    margin: 60px 0px 40px;
}

footer .fp {
    text-align: center;
}

footer .fp a:hover {
    color: rgba(255, 255, 255, 1);
}*/
#text{
    display: block;
    color: #000;
    font-weight: 300;
    padding: 5px;
    padding-left: 65px;
}
#confirm-message2{
    display: block;
    color: #000;
    font-weight: 300;
    padding: 5px;
    padding-left: 65px;
    margin-left: 10px;
}


#form.Invalid .input:before{
    content: '';
    position: absolute;
    right:12px;
    top: 9px;
    width: 24px;
    height:24px;
    background: url(images/invalid.png);
    background-size: cover;
    z-index: 1000;
}
#form.Valid .input:before{
    content: '';
    position: absolute;
    right:12px;
    top: 9px;
    width: 24px;
    height:24px;
    background: url(images/valid.png);
    background-size: cover;
    z-index: 1000;
}

#sign-up-form {
    display: block;
    margin-top: 250px;
}

@media (max-width: 524px) {
    .container-shadow {
        width: 400px;
        margin-top: 60px;
        left: 50%;
        margin-left: -200px;
    }

    .container {
        width: 400px;
        margin-top: 60px;
        left: 50%;
        margin-left: -200px;
    }

    .wrap {
        width: 300px;
    }

    footer .hr {
        margin-top: 50px;
    }
}

@media (max-width: 399px) {
    .container-shadow {
        width: 100%;
        margin: 0px;
        left: inherit;
    }

    .container {
        width: 100%;
        margin: 0px;
        left: inherit;
    }

    .wrap {
        width: 80%;
    }
}

@media (max-width: 330px) {
    .wrap {
        width: 90%;
    }
}